In [2]:
import pandas as pd

In [3]:
labeled_data = pd.read_csv('./data/train.csv')

In [4]:
labeled_data.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [6]:
from sklearn.model_selection import train_test_split

In [9]:
data = labeled_data.iloc[:, 1:]
label = labeled_data.iloc[:, :1]

In [15]:
train_data, test_data, train_label, test_label = train_test_split(
      data, 
      label, 
      train_size=0.8,
      random_state=0)

In [16]:
test_data.shape

(179, 11)

In [17]:
train_label.shape

(712, 1)

In [ ]:
index =